/.vs/Niteco.EluxApiReflection/DesignTimeBuild/.dtbcache
/.vs/Niteco.EluxApiReflection/v15/Server/sqlite3/db.lock
/.vs/Niteco.EluxApiReflection/v15/Server/sqlite3/storage.ide
/.vs/Niteco.EluxApiReflection/v15/Server/sqlite3/storage.ide-shm
/.vs/Niteco.EluxApiReflection/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/Elux.ApiIntergration/bin/Debug/Elux.ApiIntergration.dll.config
/Elux.ApiIntergration/obj/Debug/Elux.ApiIntergration.csproj.FileListAbsolute.txt
/Elux.ApiIntergration/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Elux.ApiIntergration/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Elux.ApiIntergration/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Niteco.EluxApiReflection/bin/ApplicationInsights.config
/Niteco.EluxApiReflection/bin/Elux.ApiIntergration.dll.config
/Niteco.EluxApiReflection/bin/Microsoft.AI.DependencyCollector.xml
/Niteco.EluxApiReflection/bin/Microsoft.AI.Web.xml
/Niteco.EluxApiReflection/bin/Microsoft.AI.WindowsServer.xml
/Niteco.EluxApiReflection/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/Niteco.EluxApiReflection/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/Niteco.EluxApiReflection/bin/Newtonsoft.Json.xml
/Niteco.EluxApiReflection/bin/Niteco.EluxApiReflection.dll.config
/Niteco.EluxApiReflection/bin/System.Diagnostics.DiagnosticSource.xml
/Niteco.EluxApiReflection/bin/System.Net.Http.Formatting.xml
/Niteco.EluxApiReflection/bin/System.Web.Helpers.xml
/Niteco.EluxApiReflection/bin/System.Web.Http.WebHost.xml
/Niteco.EluxApiReflection/bin/System.Web.Http.xml
/Niteco.EluxApiReflection/bin/System.Web.Mvc.xml
/Niteco.EluxApiReflection/bin/System.Web.Optimization.xml
/Niteco.EluxApiReflection/bin/System.Web.Razor.xml
/Niteco.EluxApiReflection/bin/System.Web.WebPages.Deployment.xml
/Niteco.EluxApiReflection/bin/System.Web.WebPages.Razor.xml
/Niteco.EluxApiReflection/bin/System.Web.WebPages.xml
/Niteco.EluxApiReflection/bin/roslyn/Microsoft.CSharp.Core.targets
/Niteco.EluxApiReflection/bin/roslyn/Microsoft.Managed.Core.targets
/Niteco.EluxApiReflection/bin/roslyn/Microsoft.VisualBasic.Core.targets
/Niteco.EluxApiReflection/bin/roslyn/VBCSCompiler.exe.config
/Niteco.EluxApiReflection/bin/roslyn/csc.exe.config
/Niteco.EluxApiReflection/bin/roslyn/csc.rsp
/Niteco.EluxApiReflection/bin/roslyn/csi.exe.config
/Niteco.EluxApiReflection/bin/roslyn/csi.rsp
/Niteco.EluxApiReflection/bin/roslyn/vbc.exe.config
/Niteco.EluxApiReflection/bin/roslyn/vbc.rsp
/Niteco.EluxApiReflection/obj/Debug/Niteco.EluxApiReflection.csproj.CopyComplete
/Niteco.EluxApiReflection/obj/Debug/Niteco.EluxApiReflection.csproj.FileListAbsolute.txt
/Niteco.EluxApiReflection/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Niteco.EluxApiReflection/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Niteco.EluxApiReflection/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
