<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BrontoSoapApiImplServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="BrontoSoapApiImplServiceSoapBinding1" />
                <binding name="StockAvailablePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="StockAvailablePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.bronto.com/v4/" binding="basicHttpBinding"
                bindingConfiguration="BrontoSoapApiImplServiceSoapBinding"
                contract="BrontoPayment.BrontoSoapPortType" name="BrontoSoapApiImplPort" />
            <endpoint address="https://eci.electrolux-na.com:443/StockAvailable/StockAvailableService"
                binding="basicHttpBinding" bindingConfiguration="StockAvailablePortBinding"
                contract="EluxStockAvailability.StockAvailable" name="StockAvailablePort" />
        </client>
    </system.serviceModel>
</configuration>